@import "./controls.css";
.App {
  text-align: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  font-family: 'Spartan';
}

.main-area {
  display: flex;
  flex: 1;
  flex-direction: row;
  overflow-y: hidden;
}

.page-area {
  display: flex;
  flex: 4;
  flex-direction: row;
  align-items: stretch;
  overflow-y: scroll;
  color: var(--font-color);
}

footer {
  display: none;
}

@media only screen and (max-width: 700px) {
  .main-area {
    flex-direction: column;
    flex: 1;
  }

  footer {
    display: block;
  }
}