.App {
  /*background-color: yellow;*/
  text-align: center;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.main-area {
  display: flex;
  flex: 1;
  flex-direction: row;
  background-color: yellow;
}

.page-area {
  flex: 3;
  flex-direction: row;
  align-items: stretch;
  background-color: yellowgreen;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */
