.ui-control {
    width: 250px;
}

.ui-control-xs {
    width: 100px;
}

.ui-control-sm {
    width: 150px;
}

.ui-control-md {
    width: 300px;
    max-width: 96vw;
}

.ui-control-lg {
    width: 400px;
    max-width: 96vw;
}