@import "./../../colors.css";
.left-nav {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: var(--secondary);
    padding-top: .25vh;
}

.left-nav a {
    color: black;
    text-decoration: none;
}

.hamburger-container {
    background-color: var(--primary);
    display: flex;
    align-items: flex-start;
}

.hamburger-menu {
    display: none;
    background-color: transparent;
    color: white;
    border: none;
}

.left-nav>a {
    border-left: 1vw solid transparent;
    padding-right: 1vw;
}

.left-nav>a>div {
    padding-top: 2.5vh;
    padding-bottom: 2.5vh;
    border-bottom: 2px solid black;
    cursor: pointer;
    text-align: left;
    color: var(--font-color)
}

.left-nav>a>div>span {
    padding-left: 1vw;
    padding-right: 1vw;
}

.left-nav>a>div:hover {
    color: black;
    font-weight: 900;
}

.active-route-link {
    border-left: .6vw solid var(--primary) !important;
    padding-left: .2vw;
    margin-left: .2vw;
}

.active-route-link>div {
    color: black !important;
    font-weight: 900;
}

@media only screen and (max-width: 700px) {
    .hamburger-menu {
        display: inline;
    }
    .left-nav {
        flex: 0;
    }
    .nav-close {
        display: none !important;
    }
}