.horizontal-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 2vw;
    padding-right: 2vw;
    background-color: var(--primary-light-1);
    text-align: left;
}

.horizontal-header > div {
    display: flex;
    flex-direction: row;
}

.horizontal-header > div > h1 {
    font-family: 'Homemade Apple';
    padding-left: 10px;
    padding-right: 10px;
    margin: .5em;
}

.horizontal-header > div > div {
    max-height: 5vh;
}

.logo {
    padding: 5px;
    height: 3.5em;
}

.logo-container {
    padding: 10px;
    display: flex; 
    align-items: center;
}

@media only screen and (max-width: 700px) {
    .social-media-container {
        display: none;
    }
}

.logo-container > svg {
    padding-left: 15px;
}

.title-container {
    display: flex;
    align-items: center
}