.horizontal-header {
    display: flex;
    max-width: 100%;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--primary);
    text-align: left;

}

.header-logo {
    padding: 5px;
    height: 3.5em;
}

.header-logo-container {
    padding: 10px;
    display: flex;
    align-items: center;
    color: white;
    text-align: center;
}

.header-logo-container>svg {
    padding-left: 15px;
}

.header-element-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-element-container>div>h1 {
    font-family: 'Homemade Apple';
    margin: .5em;
    color: white;
}


@media only screen and (max-width: 700px) {
    .horizontal-header>div>.social-media {
        display: none;
    }
    .horizontal-header {
        justify-content: center;
        text-align: center;
    }
    .header-logo-container {
        display: none;
    }
    .header-element-container {
        display: flex;
        flex: 1;
        justify-content: start;
        width: 100%;
        text-align: center;
    }
    .header-element-container>div>h1 {
        justify-content: center;;
        font-size: 1.6em;
    }
    .title-container {
        display: flex;
        justify-content: center;
        flex-grow: 1;
    }
}