.beach-image {
    background-image: url('../../images/beach.jpg');
    background-size: cover;
    min-height: 100%;
    position: relative;
    opacity: .65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
}

.ocean-image {
    background-image: url('../../images/ocean.jpg');
    background-size: cover;
    min-height: 100%;
    position: relative;
    opacity: .65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

.cave-image {
    background-image: url('../../images/cave.jpg');
    background-size: cover;
    min-height: 100%;
    position: relative;
    opacity: .65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

.home-parallax-container {
    flex-grow: 1;
}

.content-container {
    color: #777;
    background-color: white;
    text-align: center;
    padding: 50px;
    text-align: center;
}

.home-header {
    text-align: center;

}

.content-overlay {
    margin: auto;
    background-color: white;
    opacity: .85;
}

.content-overlay > div {
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 2vw;
    padding-right: 2vw;
    margin: 3vh;
}

.quote-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.quote-button-container a {
    text-decoration: none;
}